@media (prefers-color-scheme: light) {

}

@media (prefers-color-scheme: dark) {

}

.statement p {
  font-size: var(--font-size-5) !important;
  margin: 0 auto;
}

.statement p.meta {
  margin: var(--spacing-base) auto 0 auto !important;
  max-width: 640px;
  width: 100%;
  font-size: var(--font-size-small) !important;
}

.quote .statement p {
  font-family: 'Serif';
  line-height: var(--line-height-article) !important;
}

.quote {
  background-color: var(--color-shade-lm);
  padding: calc(var(--spacing-xxlarge) * 1.5) 0;
}

@media only screen and (max-width: 640px) {

  }

}
